.main-container {
  margin-top: 1vh;
}

/* Barras de búsqueda */
.search-bar {
  height: 6vh;
}

/* Diseño de las tres columnas principales*/
.col-md-4.main-column {
  border-right: 1px solid rgb(148, 148, 148);
  box-sizing: border-box;
  height: 99vh;
}

/* *********Primera columna********* */
/* ********************************* */
.col-md-4.main-column .products-placeholder {                   /* Tamaño de la columna de selección de productos*/
  height: 93vh;
}

.zoneExcelPicker {                                              /* Area de selección de excel */
  margin-top: 50px;
  border: 2px dashed #ccc;
  text-align: center;
  cursor: pointer;
}

.zoneExcelPicker:hover {
  border: 2px solid #397e58;
  color: #2a724a;
}

.animated-col {                                                 /*  Animación cuando se deseleccione un checkbox */
  transition: all 0.5s ease; 
}

.custom-checkbox:checked {                                      /* Estilos para el checkbox está checked */
  background-color: green;
  border-color: green;
}

.custom-checkbox:not(:checked) {                                /* Estilos para cuando el chackbox no está checked */
  background-color: white;
  border-color: #198754;
}

/* *********Segunda columna********* */
/* ********************************* */
.accordion textarea {                                           /* Formulario de cliente */
  resize: none;
  height: 80px;
}

.zoneImagePicker {                                              /* Ára de selección de imagen */
  margin-top: 50px;
  border: 2px dashed #ccc;
  text-align: center;
  cursor: pointer;
}

.zoneImagePicker:hover {
  border: 2px solid #305e8a;
  color: #296bc7;
}

/* *********Tercera columna********* */
/* ********************************* */
.product-search-counter .container-fluid.p-0 {                  /* Tamaño para el contenedor de buscador de productos y el contador de productos */
  height: 11vh;
}

.label-product-counter {                                        /* Tamaño del contador de productos */
  height: 4vh;
}

.col-md-4.main-column .selected-product-placeholder {           /* Tamaño del contenedor de los productos que se seleccoinen*/
  height: 79vh;
}

@keyframes borderChange {
  0% {
    border-color: #dee2e6;
  }
  10% {
    outline: 1px solid rgb(22, 255, 14);;
  }
  30% {
    outline: 2px solid rgb(22, 255, 14);;
  }
  50% {
    outline: 3px solid rgb(22, 255, 14);
  }
  70% {
    outline: 2px solid rgb(22, 255, 14);;
  }
  90% {
    outline: 1px solid rgb(22, 255, 14);;
  }
  100% {
    border-color: #dee2e6;
    outline: inherit;
  }
}

input.cantidad {                                                /* Animación para el aumento de cant. productos*/
  transition: border-color 0.5s ease-in-out;
}

input.cantidad.changed {                                        /* Animación para el aumento de cant. productos*/
  animation: borderChange 0.5s forwards;
}

.current-price-container .col-md-6 {
  font-size: 2vh;
}

#prices {
  /* position: fixed;
  bottom: 4vh; */
  height: 5vh;
  width: 30vw;
  border-radius: 5px 5px 0 0;
  color: white;
  z-index: 5;
}

#prices span {
  font-size: 2dvh;
}

.action-buttons-container {
  height: 5vh;
  /* width: 30vw; */
  border-radius: 5px 5px 0 0;
  color: white;
  z-index: 5;
}

.action-buttons {
  width: 50%;
  height: 4vh;
  font-size: 2dvh;
}

@keyframes achicar-agrandar {
  0% {
    transform: scale(0.9); /* Comienza achicado al 50% de su tamaño original */
  }
  50% {
    transform: scale(1.05); /* Aumenta al 120% del tamaño original */
  }
  100% {
    transform: scale(1); /* Regresa al tamaño original */
  }
}

@keyframes achicar {
  0% {
    transform: scale(0.8); /* Comienza achicado al 50% de su tamaño original */
  }
  50% {
    transform: scale(0.4); /* Aumenta al 120% del tamaño original */
  }
  100% {
    transform: scale(0.2); /* Regresa al tamaño original */
  }
}

.productSelected {
  animation: achicar-agrandar 0.3s ease-in-out; /* Duración de 1 segundo con aceleración y desaceleración suave */
}

.product {
  animation: achicar-agrandar 0.3s ease-in-out; /* Duración de 1 segundo con aceleración y desaceleración suave */
}

.productRemove {
  animation: achicar 0.12s ease-in-out; /* Duración de 1 segundo con aceleración y desaceleración suave */
}

/* *********Modal de imagen a descargar********* */
/* ********************************************* */
.modal.fade {
  overflow: hidden;
}

.modal-dialog.show-image-modal {
  width: 96%;
  height: 96%;
  max-width: none;
}
.modal-content.show-image-modal {
  height: 97%;
}

.client-table td,
.client-table th {
  padding: 0;
}

.quote-amount-column {
  width: 4%;
}

.quote-main-column {
  width: 32%;
}

.searched-product {
  outline: 5px solid yellow;
}